<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Topic</title>
</head>
<body align="center">
    <h1>Topics are:</h1>
    <table border="10pt" align="center">
        <tr>
            <th>Topic ID</th>
            <th>Topic Name</th>
        </tr>
        {% if topics %}
        {% for topic in topics %}
        <tr>
            <td>{{ topic.id }}</td>
            <td><a href="{% url 'displaytopic' id=topic.id %}">{{ topic.topic_name }}</a></td> 
        </tr>
        {% endfor %}
        {% endif %}
    </table>
    
</body>
</html>